{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>
    Dolore non laboris officia voluptate ea incididunt. Mollit occaecat velit sit culpa exercitation dolor laborum Lorem elit officia ipsum fugiat dolore sunt. Occaecat excepteur aliqua duis 
    mollit et elit sunt enim ad nisi nulla commodo non incididunt. Consectetur et do adipisicing et nisi commodo culpa aute do amet mollit et quis. Voluptate est sunt enim veniam cillum quis 
    aliquip et duis deserunt.
    </p>

    <p>
    Lorem deserunt irure aliqua cillum cillum ut aute deserunt magna pariatur commodo velit Lorem. In magna et anim quis. Consectetur deserunt deserunt dolor amet non. Esse ex elit tempor ea ex 
    ullamco reprehenderit eu non ut anim. Duis ullamco nulla commodo nostrud ullamco laborum dolore non. Voluptate velit occaecat magna nulla laborum aute est esse eu.
    </p>
{% endblock %}